body {
    background-image: url('/static/Image/concrete.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
  }
  
  header {
    
    color: #fff;
    padding: 20px;
  }  
  
  h1, h2 {
    color: #fff;
    text-align: center;  
  }
  
  .content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form {
    background-color: #ddd;
    padding: 20px;
    border-radius: 5px;   
  }
  
  .prediction {
    color: red;
    font-weight: bold; 
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block; 
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px; 
  }