<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject Input</title>
    <link rel="stylesheet" href="{{ url_for('static',filename = 'style.css') }}">
   
</head>
<body>
    <header>
    <h1>Iris Prediction Web App</h1>
    </header>
<main>
    <form action="/submit" method="post">

        <label for="sepal_length">Sepal Length:</label>
        <input type="text" name="sepal_length" id="sepal_length" value="0"> <br>
    
        <label for="sepal_width">Sepal Width:</label>
        <input type="text" name="sepal_width" id="sepal_width" value="0"> <br>
    
        <label for="petal_length">Petal Length:</label>
        <input type="text" name="petal_length" id="petal_length" value="0"> <br>
    
        <label for="petal_width">Petal Width:</label>
        <input type="text" name="petal_width" id="petal_width" value="0"> <br>
    
        <button type="submit">Predict</button>
    </form>
    {% if predicted %}
    <p>{{ predicted }}</p>
    {% endif %}
</main>
</body>
</html>